<article class="post">
  <div class="title flex-row justify-space-around m-4">
    <div>
      <a href="{{post_url}}" target="_blank" class="text-grey">{{title}}</a>
    </div>
    
    <div>
      {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    </div>
    
  </div>
  <div class="meta">
    
    
    {{!-- <a href="/post/{{id}}" class="text-grey">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
    {{!-- <span>({{format_url post_url}})</span> --}}
  </div>
</article>